[class*="col-"] {
	padding: 0px;
}

#content {
	display: flex;
	flex-wrap: wrap-reverse;
}

#header {
  background-color: rgb(105,80,80);
  
  border: 2px solid rgb(225, 225, 225);
  border-top-style: none;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;  

  color: rgb(225, 225, 225);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

@media (min-width: 992px) {
  #header {
      margin: 0 1rem 1rem 1rem;
  }
}  

.row {
	margin: 0.3rem 1rem;
	justify-content: center;
}

.row_input_parts {
	flex-wrap: wrap;
}

.row_input_part {
	margin: 0.3rem auto;
}

.row_input_data {
	padding: 0 0.5rem;
	margin: 0.3rem auto;
	height: 2.2rem;
}

.full_width {
	width: 100%;
}

span {
	display: flex;
}

body {
  margin: 0;
	background-color: rgb(30,30,30);
	font-family: -apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6, p.title, p.light-desc {
	color: rgb(225, 225, 225);
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p.light-desc {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 2.5rem;		
}

h3 {
	margin: -2px;
	padding: 5px;
	font-size: 1.75rem;
}

h6 {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;	
	width: 100%;
	font-size: 1.25rem;
	padding: 5px;
	white-space: nowrap;
}

.long_title {
	white-space: normal !important;
}

p.title {
	font-size: 1.25rem;
	margin-left: auto;
	white-space: nowrap;
	text-align: center;
}

p.wrap {
	white-space: normal;
}

form {
	padding: 0 !important;
	margin: 0px 1rem !important;
	width: calc(100% - 2rem) !important;
	background-color: rgb(80,80,80);
	border: 2px solid rgb(100,100,100);
	border-radius: 10px;
	box-shadow:
		1px 0px rgb(98,98,98), 1px 1px rgb(90,90,90),
		2px 1px rgb(94,94,94), 2px 2px rgb(80,80,80),
		3px 2px rgb(90,90,90), 3px 3px rgb(70,70,70),
		4px 3px rgb(86,86,86), 4px 4px rgb(60,60,60),
		5px 4px rgb(82,82,82), 5px 5px rgb(50,50,50);
}

li {
	list-style-type: none;
}
ul {
	margin: 0;
	padding: 0;
}

.menu_item {
	margin: 5px;
}

.gray-border {
	border: 2px solid rgb(225, 225, 225);
	border-radius: 10px;	
}

.border-padding {
	padding: 0.2rem;
}

img {
	width: 1rem;
	height: 1rem;
}

.hint_img {
	vertical-align: top;
	margin-top: 0.1rem;
	margin-left: 0.5rem;
}

input, select, textarea{
	padding: 5px;
	margin: auto;
	font-size: 1rem;
	outline: none;
	color: rgb(225, 225, 225);
	
	font-family: inherit;
	font-weight: 500;	
  height: max-content;
}

.short_input {
	width: 4rem !important;
	text-align: center !important;
	
}

.medium_input {
	width: 6rem !important;
	text-align: center !important;
	
}

#DeviceName {
	width: 50%;
	text-align: center;
}

input[type="text"], 
input[type="number"],
input[type="password"], 
input[type="time"],
textarea,
select, p.like_input, p.logger
{
	text-align: left;
	background-color: rgb(55,55,55);
	border: 2px solid rgb(60, 60, 60);
	border-radius: 15px;
	box-shadow:
		1px 0px rgb(70,70,70), 1px 1px rgb(62,72,72),
		2px 1px rgb(75,75,75), 2px 2px rgb(66,76,76),
		3px 2px rgb(80,80,80), 3px 3px rgb(72,72,72);	
}

input.lux_params:disabled {
	color: rgb(150, 150, 150);
	background-color: rgb(65,65,65);
	border: 2px solid rgb(70, 70, 70);	
	box-shadow:
		1px 0px rgb(70,70,70), 1px 1px rgb(72,76,76),
		2px 1px rgb(75,75,75), 2px 2px rgb(76,80,80),
		3px 2px rgb(80,80,80), 3px 3px rgb(80,80,80);		
}

input[type="color"] {
	padding: 0;
  min-height: 2rem;
}

@media (max-width: 992px) {
	#DeviceName {width: 100%;}
	#NTPtimezone, #WiFiTries, .sm-center {margin: auto !important;}	
	input[type="text"], 
	input[type="password"], 
	input[type="time"],
	select	{
		text-align: center;		
	}

	.gradient {
		margin: auto !important;
	}
	.alarm_demo_button {
		width: 75%;
		margin: auto;
	}
	
	/*p.title {
		font-size: 1rem;
	}*/
}

input[type="text"], input[type="password"] {
	width: 100%;
}

input[type="checkbox"], .show_password, .checkboxlable, .text {
	/*height: 100%;*/
	margin: auto 0.2rem;
}

label {
	margin: auto 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: rgb(225, 225, 225);
}

p {
	white-space: normal;
}

p.light-global-desc {
	margin: 0.2rem auto;
  text-align: center;
	white-space: normal;
	font-size: 1rem;
}

p.text {
	color: rgb(225, 225, 225);
	padding: 0 0.2rem
}

@media (min-width: 375px) {
	p.show_password, p.checkboxlable, p.title, p.text {
			white-space: nowrap;
		}
	p.light-global-desc, p.wrap {
		white-space: normal;
	}	
}

input[type="button"] {
	font-size: 1.5rem;
	border: 2px solid;
	border-radius: 10px;
	border-color: rgb(225, 225, 225);
	background: linear-gradient(45deg, rgb(125, 120, 85), rgb(55, 100, 80));
	
	margin: 0 auto;
}

input[type="button"]:active {
  -webkit-box-shadow: inset 0px 0px 5px rgb(150, 150, 150);
     -moz-box-shadow: inset 0px 0px 5px rgb(150, 150, 150);
          box-shadow: inset 0px 0px 5px rgb(150, 150, 150);
   outline: none;

}

input[type="button"].other {
  width: 20rem;
}

input[type="file"] {
	padding: 0px;
	font-size: 0.75rem;
	width: 20rem;
}

#update_by_file_button {
  font-size: 1rem;
}

::-webkit-file-upload-button {
	font-size: 1rem;
	border: 2px solid;
	border-radius: 10px;
	border-color: rgb(225, 225, 225);
	background: linear-gradient(45deg, rgb(125, 120, 85), rgb(55, 100, 80));
	
	padding: 5px;
	margin: 0 0.2em;
	outline: none;
	color: rgb(225, 225, 225);
	font-family: inherit;
	font-weight: 500;	
	height: 100%;
}

input[type="button"][disabled] {
	background: rgb(150, 150, 150);
}

.alarm_row {
	padding: 5px 10px;
	background-color: rgb(100, 100, 100);
}

.lux_params {
	margin: auto 0.2rem;
}

.gradient {
	background: linear-gradient(90deg, rgb(170, 85, 0), rgb(255, 240, 210));
  width: 100%;
  min-height: 2rem;
}

.alarm_title, .alarm_time , .alarm_weekdays , .alarm_buttons{
	margin: 5px auto;
}

.row_alarm_input, .ntp_servers_input, .light_status_input  {
	flex-wrap: wrap;
}

.alarm_time, .alarm_weekdays, .alarm_buttons,
.alarm_workdays, .alarm_weekend {
	justify-content: center;
}

.alarm_workdays, .alarm_weekend {
	padding: 0 0.4em !important;
	margin: 0 0.2em;
}

.alarm_weekend {
	border: 2px solid rgb(150,50,50);
	border-radius: 15px;
}

.alarm_weekdays_border {
	background-color: rgb(55,55,55);
	border: 2px solid rgb(60, 60, 60);
	border-radius: 15px;
	box-shadow:
		1px 0px rgb(70,70,70), 1px 1px rgb(62,72,72),
		2px 1px rgb(75,75,75), 2px 2px rgb(66,76,76),
		3px 2px rgb(80,80,80), 3px 3px rgb(72,72,72);

	justify-content: center;
	flex-wrap: wrap;

}

.alarm_weekdays > label {
	margin: 0 auto;	
}

.alarm_del_button {
	border: 2px solid;
	border-radius: 10px;
	border-color: rgb(225, 225, 225);
	background-color: rgb(150, 150, 150);
	height: 1.7rem; 
	line-height: 1.7rem;
	width: 3rem;
	margin-left: 4px;
	outline: none;
}

.add_alarm_button {
	margin: 0.3rem auto;
}

.save_button {
	font-size: 1.75rem !important;
	margin: -2px !important;
	width: calc(100% + 4px);
	white-space: normal;
}

p.row_title, p.like_input {
	padding: 5px 1rem;
  margin: auto;
	/*width: 100%;*/
	font-size: 1rem;
	font-family: inherit;
	color: white;
	text-align: center;
  height: max-content;
}

p.logger {
  width: 100%;
	padding: 5px 1rem;
  margin: auto;
	font-size: 1rem;
	font-family: inherit;
	color: white;
	text-align: left;
	word-break: break-word;
	word-wrap: break-word;
}

@media (max-width: 992px) {
  p.like_input {
    padding: 5px 2rem;
    margin: auto;
  }
}

@media (min-width: 992px) {
  p.like_input {
    width: 100%;
  }
}

p.row_title {	
	font-weight: 500;
	height: 2rem;
}
.blockUI img {
	 height: 100%;
	 width: 100%;	
}
input:invalid {
	border-color: rgb(220,100,100);


	box-shadow:
		2px 1px rgb(210,94,94), 2px 2px rgb(185,75,75),
		1px 0px rgb(215,98,98), 1px 1px rgb(195,90,90),
		3px 2px rgb(205,90,90), 3px 3px rgb(175,60,60);
}

.alarm_demo_button {
	font-size: 1.25rem !important;
}