.onoffswitch {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	position: relative; 
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
	width: 3rem;
	margin: 0 0.2em;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	flex-direction: column;
	overflow: hidden;
	border: 2px solid; 
	border-radius: 10px;
	border-color: rgb(225, 225, 225);
	
	height: 1.7rem; 
	line-height: 1.7rem;
	font-size: 1rem;
	text-align: center;
}
.onoffswitch-inner {
	width: 200%; 
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	float: left; 
	width: 50%; 
	color: rgb(225, 225, 225);
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "ON";
	background-color: rgb(50, 170, 50); 
}
.onoffswitch-inner:after {
	content: "OFF";
	background-color: rgb(150, 150, 150);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}